@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');
html{
    background: url(./images/209343.gif) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max(340px, 98vw);
    height: 97dvh;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 6px;
    margin: 6px;
    width: 600px;
    height: 600px;
    border-radius: 36px;
    border: 3px solid black;
    background: rgb(255,255,255, 50%);
    position: relative;
    backdrop-filter: blur(4px);
}
.title-and-logo{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
h1{
    font-size: 35px;
    color: black;
    font-family: "Lato";
    font-style: italic;
}
.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    position: relative;
    bottom: 14px;
    gap: 16px;  
}
.fillout-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 26px;

}
.section-container{
    display: flex; 
    justify-content: space-between;
    gap: 25px;
}
.section{
    display: flex;
    flex-direction: column;
    width: 160px;
}

label{
    font-size: 18px;
    font-weight: 600;
    color: black;
    font-family: "Lato";
}
button{
    border: none;
    font-family: "Lato";
    font-weight: 600;
    background: rgb(173, 59, 59);
    text-decoration: none;
    height: 40px;
    backdrop-filter: blur(3px);
    color: whitesmoke;
    font-size: 26px;
    border-radius: 12px;
}
button:hover{
    cursor: pointer;
    transition: ease 0.07s all;
    transform: scale(1.1);
}
.sign-up-title{
    text-decoration:underline solid black;
}
.travel-logo{
    width:150px;
    height: 150px;
}